@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
   height: 100%; 
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url("../images/water0.png");
}

#ports {
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url("../images/port.png");
}

#ship {
    width: 128px;
    height: 64px;
    background-image: url("../images/ship.png");
    position: absolute;
}

#sailbutton {
    border: 0;
    background-color: #FB3640;
    border-bottom: 4px solid #d8040f;
    color: #FFFFFF;
    font-family: inherit;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: "Press Start 2P", cursive;  
}

#sailbutton:focus {
    background-color: #d8040f;
    border-bottom-width: 0;
    padding-top: 14px;
}

#message {
    padding: 16px;
    font-family: "Press Start 2P", cursive;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 3px solid #000;
    background-color: #FFFFFF;  
}

#display {
    background-color: #000;
    align-self: flex-end;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #FFFFFF;
    font-family: "Press Start 2P", cursive;
}

#current-port {
    position: fixed;
    top: 10px;
    right: 20px;
}

#next-port {
    position: fixed;
    top: 40px;
    right: 20px;
}

#port-form {
    width: 200px;
    height: 100px;
    background-color: #FFFFFF;
    font-family: "Press Start 2P", cursive;
    position: absolute;
    top: 10px;
    left: 10px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom:10px;
    border: 4px solid #000;
    border-style: double;
}

#port-name {
    width: 180px;
    height: 25px;
    margin-top: 10px;
}

#addbutton {
    color: #FFFFFF;
    background-color: #d8040f;
    font-family: "Press Start 2P", cursive;
    margin-top: 5px;
}








